{% extends 'base.html' %}

{% block title %}Projects {% endblock title %}

{% block content %}


<section class="projects-section center-column">
    <h2>Project</h2>

    <div class="projects-list">
      <!--a div/card per project-->

      {% for project in projects %}

      <div class="project-card">
        <a href="{{ project.repository }}" target="_blank">
          <img src="{{ project.image.url }}" alt="{{ project.name }}">
          <p>{{ project.name }}</p>
          <p>{{ project.description}}</p>
          <p>{{ project.year }}</p>

          {% for skill in project.skills.all %}
          <div class="project-skills">
            <label for="" class="text-label">{{skill.name}}</label>
          </div>
          {% endfor %}
        </a>
      </div>
      {% endfor %}

    

      

    



{% endblock content %}

