

{% extends 'base.html' %}
{% load static %}

{% block title %}  {% endblock title %}

{% block content %}

  <section class="experience-section">
    <h1 class="experience-title">Proffessional experience</h1>

    <div class="card-container">
      <!--Card 1: Full Stack-->
      <div class="card">
          <h2>Full Stack Developement Internship – FSDI</h2>
          <p><strong>Duration:</strong> Jan 2025 – July 2025</p>
          <ul>
            <li>Built responsive web applications using Django, HTML, CSS, python and JS.</li>
            <li>Created reusable templates using Django templating engine.</li>
            <li>Worked with Git for version control and collaboration.</li>
            <li>Integrated static files and managed project structure efficiently.</li>
          </ul>
      </div>

      <!--Card 2: Freelance -->
      <div class="card">
        <h2>Freelance Web Developer</h2>
        <p><strong>Duration:</strong> 2023 – Present</p>
        <ul>
          <li>Designed and deployed personal and client portfolio websites.</li>
          <li>Used Bootstrap for mobile responsiveness and clean UI design.</li>
          <li>Helped clients set up hosting and domain configuration.</li>
          <li>Used jinja and django templating engine for dynamic rendering</li>
        </ul>
      </div>

      <!--Card-3: backend-->
      <div class="card">
        <h2>Backend development</h2>
        <p><strong>Duration:</strong>2023 - Present</p>
        <ul>
          <li>Built APIs using Django REST Framwork and Flask</li>
          <li>Used PostgreSQL, SQLite, and MongoDB for database</li>
          <li>Implemented JWT authentication and middleware</li>
          <li>Deployed to Heroku/Render with environment configs</li>
        </ul>
      </div>
      
      <!--Card 4: Frontend-->
      <div class="card">
        <h2>Frontend development</h2>
        <p><strong>Duration:</strong>Jan 2025 - Jul 2025</p>
        <ul>
          <li>Built UI using React, Taiwind CSS, and Bootstrap</li>
          <li>Implemented hooks, state management, and component logic</li>
          <li>Used Axios and Fetch API for data fetching</li>
          <li>Followed responsive and mobile-first design</li>
        </ul>
      </div>

      <!--Card 5: Testing-->
      <div class="card">
        <h2>Testing and Debugging</h2>
        <p><strong>Duration:</strong>Ongoing</p>
        <ul>
          <li>Wrote unit and integration tests using Pytest and Unittest</li>
          <li>Used Postman for API testing and Selenium for UI automation</li>
          <li>Debugged apps using vs Code tools and Django Debug Toolbar</li>
          <li>Tested form validation, error handling, and API edge cases</li>
        </ul>
      </div>

      <!--Card 6: Algorithms & Tools -->
      <div class="card">
        <h2>Algorithms & Tools</h2>
        <p><strong>Duration:</strong>FSDI-jan 2025 - Present</p>
        <ul>
          <li>Solved 200+ LeetCode problems on DSA topics</li>
          <li>Practiced DP, graphs, recursion, and sorting</li>
          <li>Used Git/GitHub for version control </li>
          <li>Comfortable with terminal, pip, venv, and .env setup</li>
        </ul>
      </div>
    </div>
  </section>

{% endblock content %}