header {
  background-color: var(--primary-color);
  height: 60px;
  position: sticky;
  
}
nav{
  height: 100%;
  width: 80%;
}
.nav-link {
  height: 100%;
  
}

.nav-link a{
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
  margin: 2%;
  padding: 1% 2%;

}

.nav-link a:hover{
  border-bottom: solid 2px white;
  color: black;
  background-color: #ffff20;
  padding-bottom: 4px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.nav-btn span{
  display: block;
  width: 30px;
  height: 3px;
  background-color: white;
  margin: 6px auto;
}
#nav-check, .nav-btn{
  display: none;
}